body {
    background-color: aquamarine;
}
* {
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-around;
}

.img1 {
    text-align: center;
}
button {
    padding: 10px;
}

p {
    border: 1px solid black;
}
